<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form role="form" action="signup" th:object="${memberForm}" method="post">
    <div>
        <label th:for="email">이메일</label>
        <input type="text" th:field="*{email}" placeholder="이메일" autofocus>
        <small class = "overlap" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">overlap error</small>
    </div>
    <div>
        <label th:for="password">패스워드</label>
        <input type="text" th:field="*{password}" placeholder="패스워드">
    </div>
    <div>
        <label th:for="nicname">닉네임</label>
        <input type="text" th:field="*{nicname}" placeholder="닉네임">
        <small class = "overlap" th:if="${#fields.hasErrors('nicname')}" th:errors="*{nicname}">overlap error</small>
    </div>
    <div>
        <input type="radio" th:field="*{auth}" value="ROLE_USER" checked="checked"> user
    </div>

    <button type="submit">Submit</button>
</form>
</body>
</html>